<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Motion Revolution</h1>
    <form action='/motion'>
        Display Name: <input type='text' name='user_name'>
        <br>
        Room Name: <input type='text' name='room_name'>
        <input type='submit' value='GO'>
    </form>

    <div class='existing'>
        
    </div>
</body>
</html>