<html>
	<head>
		<title>Directionaity</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link type='text/css' media="screen, projection" rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
		<noscript><link type='text/css' rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
                        <div class="logo">
                            <span class="icon fa-arrows"></span>

						</div>
						<div class="content">
							<div class="inner">
								<h1>Directionality</h1>
								<p>A motion based dance game</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#server">Enter Server</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="server">
								<h1 class="major">Server</h1>
								<h3 >Create</h3>
								<div>
									<form action='/motion' id="createform">
										<div class="field half first">
											<!-- <label>Display Name:</label> -->
											<input type='text' name='user_name' placeholder="Display Name">
										</div>
										<div class="field half">
											<!-- <label>Room Name:</label> -->
											<input type='text' name='room_name' placeholder="Room Name">								
										</div>
										<div>
											<button id="longbutton">Create room</button>
											<!-- <input type='submit' value='Create room'> -->
										</div>
								    </form>
								</div>
							    
                            <div class='existing'>
								<h3>Join Game</h3>
								<div>
									<!-- <label>Display Name:</label> -->
									<input type='text' name='user_name' placeholder="Display Name">
								</div>
								<br>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Room Name</td>
													<td>Capacity</td>
													<td></td>
                                                </tr>
                                                <% for (var room in allRooms) { %>
                                                <tr>
													<td><h3 style='font-weight:200'><%=room%></h3></td>                                    
													<td><h3 style='font-weight:200'><%= allRooms[room].length %>/2</h3></td>
													<% if (allRooms[room].length == 2) { %>
														<td><button disabled = true onclick= "join(this)" value='<%=room%>'>Join</button></td>
													<% } else { %>
														<td><button  onclick= "join(this)" value='<%=room%>'>Join</button></td>

													<% } %>


                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        </div>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
            <script src="static/js/main.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script>
                $('#room').on('click', function() {
                    
                })

                function join(obj, room) {
                    console.log(obj.value)
                    var url = $.param({
                        user_name: $('#name').val(),
                        room_name: obj.value
                    })
                    window.location.href = '/motion?' + url
                }
            </script>

	</body>
</html>
