<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MDDR</title>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src='/static/js/deparam.js'></script>
		<script src='/static/js/gest.js'></script>
		<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
		<script>var socket = io.connect(); </script>
		<script>
			socket.on('connect', function() {
			var params = jQuery.deparam(window.location.search);
				socket.emit('join', params, function(err) {
					if (err) {
						alert(err);
						window.location.href = '/';
					} else {
						console.log('No error')
					}
				})
				socket.on('disconnect', function() {

				}) 
				
			})
		</script>
		<script src='/static/js/voice.js'></script>
		<script src='/static/js/game_class.js'></script>
		<script src='/static/js/game_manager.js'></script>
		<script src='/static/js/arrows.js'></script>
		<script src='/static/js/arrow_manager.js'></script>
		<!-- <script src="/static/js/jsRev.js" type="text/javascript"></script> -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<style>
	
		</style>
	</head>
	<body>
		<div id="menu" style='bottom: 400px;'>
		<div id="webcamDiv"></div>
		<h2 style='display: inline-block' id='score' >0</h2>
		<h2 style='display: inline-block; margin-left: 50%;' id='score2' >0</h2>

		<div id='buttons' >
			<select id='difficulty' style='margin-bottom: 10px;'>
				<option>easy</option>
				<option>medium</option>
				<option>hard</option>
				<option>legendary</option>
			</select>
			<select id='mode' style='margin-bottom: 10px;'>
				<option>normal</option>
				<option>motion</option>
			</select>
			<select id='song' style='margin-bottom: 10px;'>
				<option>Freaky Friday</option>
				<option>Walk it like I Talk it</option>
			</select>
			<button style='width: 300px;'id='start'>Start</button>
		</div>
		</div>

		<section id="banner" class="bannervid" data-video='/static/img/vid'>
		<div id="stagegrounds" style='overflow: hidden'>
			<div id="stageLeft">
					<!-- <video preload="auto"  id="video" autoplay="autoplay" loop="loop" controls muted style="width: 100%; height: 100%;">
							<source src="static/img/vid.mp4#t=30,100" type="video/mp4">
						</video> -->
				<canvas id="myChart" width="450" height="450" style="display:none"></canvas>

				<div id="stageL" class="stage" data-video='/static/img/vid.mp4' style='display: inline-block;'>
					<h1 id="timer"></h1>
				</div> 
				<div id="controlL" class="controls" style='width:300px; margin: 0px;'>
					<img id="left" src="/static/img/arrows/staticLeft.png">
					<img id="up" src="/static/img/arrows/staticUp.png">
					<img id="down" src="/static/img/arrows/staticDown.png">
					<img id="right" src="/static/img/arrows/staticRight.png">
				</div> 
			</div>
			
			<div id="stageRight" style="float:right; margin-top: 30px;">

				<div id="stageR" class="stage2" style='display: inline-block; float: right;'>
					<h1 id="timer"></h1>
				</div> 
				<div id="controlR" class="controls2">
					<img id="left" src="/static/img/arrows/staticLeft.png">
					<img id="up" src="/static/img/arrows/staticUp.png">
					<img id="down" src="/static/img/arrows/staticDown.png">
					<img id="right" src="/static/img/arrows/staticRight.png">
				</div> 
			</div>
		</div>
		<div id='line' style='border-top: 1px solid white; width: 501px; position: absolute; bottom: 817px; left: 931px;'></div>
		<div id='scoreboard' style='position:absolute; bottom: 360px'></div>


		<!-- add controls in audio tag to see control bar -->
		
		
		<audio id='audio'> 
			<source id='thisSong' src='/static/img/music.mp3' type='audio/mpeg'>
		</audio>

		<div style='position:absolute; bottom: 500px; left: 200px;'>
			<h1 id="type"></h1>
		</div>
		<div style='position:relative; bottom: 920px; margin-right: 190px;float: right'>
			<h1 id="type2"></h1>
		</div>
		
	</body>
</html>
