<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MDDR</title>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src='/static/js/gest.js'></script>
		<script src='/static/js/voice.js'></script>
		<script src='/static/js/game_class.js'></script>
		<script src='/static/js/game_manager.js'></script>
		<script src='/static/js/arrows.js'></script>
		<script src='/static/js/arrow_manager.js'></script>
		<!-- <script src="/static/js/jsRev.js" type="text/javascript"></script> -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>

	<body>
		<div class="stage" style='display: inline-block'>
			<h1 style='color:white; line-height:500px; font-size: 90pt;'id="timer"></h1>
			<h1 style='color:red; line-height:500px; font-size: 70pt;'id="type"></h1>
			<h1 id='score' style='color: white; position: relative; top: 450px; border-top: 1px solid white; padding-top: 5px;'>0</h1>
		</div> 
		<!-- add controls in audio tag to see control bar -->
		<audio id='audio'> 
			<source src='/static/img/music.mp3' type='audio/mpeg'>
		</audio>
		
		<div id="controls" style='width:300px;'>
			<img id="left" src="/static/img/arrows/staticLeft.png">
			<img id="up" src="/static/img/arrows/staticUp.png">
			<img id="down" src="/static/img/arrows/staticDown.png">
			<img id="right" src="/static/img/arrows/staticRight.png">
		</div> 
		<div id='buttons' style='display: inline-block; width: 200px; position: absolute; bottom: 400px; left: 600px;'>
			<div id='scoreboard'></div>
			<select id='difficulty'>
				<option>easy</option>
				<option>medium</option>
				<option>hard</option>
				<option>legendary</option>
			</select>
			<select id='mode'>
				<option>normal</option>
				<option>motion</option>
			</select>
			<button id='start'>Start</button>
		</div>
		<canvas id="myChart" width="400" height="400"></canvas>

		<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
<!-- 
		<script>
			$(document).ready(function() {
				var socket = io.connect();
				var name = prompt('What is your name?');
				socket.emit('new_user', {name: name})
			})
		</script> -->
		<script type="text/javascript">
			//create message container
			var messageContainer = document.createElement('div');
			messageContainer.className = 'gest-message';
			document.body.appendChild(messageContainer);
			
			var styles = {
				positioning: 'margin: 22% auto; min-width: 100px; max-width: 400px; width: 80%; padding: 15px;',
				copy: 'font: normal 35px/1.1 \"Helvetica Neue\", Helvetica, Arial, sans-serif; color: #fff; font-size: 45px; text-align: center;',
				general: 'display: block; background-color: #000; z-index: 100; border-radius: 10px;'
			},
			messageContainerStyle = styles.positioning + styles.copy + styles.general;
			//game_manager content was here
		</script>
	</body>
</html>
