.stage, .stage2 {
	background-color: black;
	height: 500px;
	width: 500px;
	text-align: center;
}


.controls, .controls2 {
	padding-left: 105px;
}


#left, #up, #down, #right {
	position: relative;
	bottom: 495px;
}

/* #buttons {
	position: relative;
	bottom: 600px;
} */